#branding__preview {
    text-align: center;
    margin-bottom: 2rem;
}

#branding__preview > * {
    max-width: 50%;
    margin: 0 auto;
}

#branding__preview img {
    padding: 1rem;
    background-color: black;
}

#branding__remove {
    display: block;
    margin-top: 0.5rem;
}

#branding-logo__edit--button {
    cursor: pointer;
}